/* footer */
.home footer section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
}

.home footer section div.icon {
    color: var(--colorCeleste);
    font-size: 2rem;
    margin-bottom: 10px;
}

.home footer section p {
    width: 65%;
    text-align: center;
}
.home footer section span {
    font-size: var(--fontSize-discount)
}

@media (min-width: 768px) {
    .home footer section p {
        width: 35%;
    }
    .home footer p.copy {
        padding-left: 5%;
    }
}

@media (min-width: 1024px) {
    .home footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .home footer section p {
        width: 80%;
    }
    .home footer section {
        width: 33%;
    }
    .home footer p.copy {
        padding-left: 0;
    }
}