/* header */
.home header {
    background-color: var(--colorAmarillo);
}
/* logo */
.home header .photo-container img.photo {
    width: 100px;
    margin: 30px 0 0 30px;
}

.home header input {
    margin:10px 0 0 20px;
    
}
.home header a.search-button {
    display: block;
    width: min-content;
    padding: 2px;
    margin: 2px 0 10px 20px;
    border-radius: 3px;
    border: 1px solid var(--colorGrisOscuro);
    background-color: white;
}
.home header p {
    text-align: center;
}

/* Burger */
.home header .burger-container {
    height: 60px;
}

.home header .burger-container a.burger {
    display: block;
    width: 1rem;
    background-color: var(--colorCeleste);
    color: white;
    padding: 8px;
    border-radius: 4px;
    margin: auto;
    text-align: center;
}
.home header .burger-container a.burger i {
    font-size: 1rem;
}

/* nav-bar */
.home header ul {
    display: none;
    margin: 0;
    padding: 10px 0;
}
.home header ul a {  
    display: block;
}

.home header ul a li {
    display: inline-block;
    padding-right: 2px;
}

/* main */
main {
    background: var(--colorGrisClaro);
    padding-bottom: 10px;
}
main h2{
    margin: 10px;
    color: var(--colorGrisOscuro);
}

.home main img {
    width:100%;
}

.home main section {
    width: 90vw;
    margin: auto;
    
}

.home main section article.caja {
    margin: 10px;
    padding: 15px;
    background-color: white;
}
.home main section article.caja:last-of-type {
    margin-bottom: 0;
}

.home main section article.caja .caja-hija {
    box-sizing: border-box;
    border-top: solid 1px #ebebeb;
}

.home main section article.caja .caja-hija a {
    display: inline-block;
    box-sizing: content-box;
}
.home main section article.caja .caja-hija a i {
    color: var(--colorVerde);
    margin: 15px;
    font-size: 1rem;
}

.home main section article.caja .caja-hija p:first-of-type {
    font-size: var(--fontSize-price);
    margin:0;
}
.home main section article.caja .caja-hija p:nth-last-child(2) {
    font-size: var(--fontSize-discount);
    color: var(--colorVerde);
    margin: 0;
}
.home main section article.caja .caja-hija p:last-child {
    font-size: var(--fontSize-detail);
    color: var(--colorGrisOscuro);
    
}



/* footer */
.home footer {
    text-align: center;
}

.home footer section {
    margin-top: 55px
}

.home footer section i {
    display: inline-block;
    text-align: center;
    color: var(--colorCeleste);
    font-size: 2rem;
    margin-bottom: 10px;
}

.home footer p {
    color: var(--colorGrisOscuro);
    margin: 0 0 20px 0;
}

.home footer span {
    display: block;
    color: var(--colorGrisOscuro);
    font-size: var(--fontSize-discount);
    font-weight: bold;
}


/* tablet */
@media (min-width:481px) {
    /* header */
    .home header .burger-container {
        display: none;
    }
    .home header ul {
        display: block;
    }

    /* main */
    .home main section article.caja {
        box-shadow: 0 0 10px rgb(100, 100, 100);
    }
    .home main section article.caja .caja-hija p:last-child {
        display: block;
    }
    
}
/* laptop */
@media (min-width:769px) {
    /* no hubo directriz en el tp que marque que modificar en los demás tamaños */
}
